

@{
    //   ViewData["Title"] = Model.DisplayName;
}


<h2>Dashboard</h2>

<form asp-controller="Home" asp-action="Index" method="GET">
  
  <row>
    <div class="col-sm-6">Cost Center</div>
    <div class="col-sm-6">Account</div>
  </row>
  <row>
    <div class="col-sm-6">
      <select name="CostCenter" id="costcenter" class="form-control" asp-items="@ViewBag.CostCentersList">

    </select>
    </div>

    <div class="col-sm-6">
      <select name="Account" id="account" class="form-control">
        <option value="500">500</option>
        <option value="501">501</option>
        <option value="502">502</option>
        <option value="503">503</option>
        <option value="504">504</option>
        <option value="505">505</option>
      </select>
    </div>
</row>
<row>
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-default" value="Find">
    </div>
    </row>
</form>

<br><br>
<br><br>
<br><br>

<table class="table">
  
  <tr>
    <th></th>
    <th><a href="#" id="rectype1" class="rectypes">@ViewBag.Types[0]</a></th>
    <th><a href="#" id="rectype2" class="rectypes">@ViewBag.Types[1]</a></th>
    <th><a href="#" id="rectype3" class="rectypes">@ViewBag.Types[2]</a></th>
    <th><a href="#" id="rectype4" class="rectypes">@ViewBag.Types[3]</a></th>
    <th><a href="#" id="rectype5" class="rectypes">@ViewBag.Types[4]</a></th>
    <th><a href="#" id="rectype6" class="rectypes">@ViewBag.Types[5]</a></th>
  </tr>
  <tr>
    <th></th>
    <th><a href="#" id="year1" class="years">@ViewBag.years[0]</a></th>
    <th><a href="#" id="year2" class="years">@ViewBag.years[1]</a></th>
    <th><a href="#" id="year3" class="years">@ViewBag.years[2]</a></th>
    <th><a href="#" id="year4" class="years">@ViewBag.years[3]</a></th>
    <th><a href="#" id="year5" class="years">@ViewBag.years[4]</a></th>
    <th><a href="#" id="year6" class="years">@ViewBag.years[5]</a></th>
  </tr>
  <tr class="row1">
    <td>January</td>
    <td class="col1"><a href="#" id="col1row1" class="datagrid">@ViewBag.col1row1</a></td>
    <td class="col2"><a href="#" id="col2row1" class="datagrid">@ViewBag.col2row1</a></td>
    <td class="col3"><a href="#" id="col3row1" class="datagrid">@ViewBag.col3row1</a></td>
    <td class="col4"><a href="#" id="col4row1" class="datagrid">@ViewBag.col4row1</a></td>
    <td class="col5"><a href="#" id="col5row1" class="datagrid">@ViewBag.col5row1</a></td>
    <td class="col6"><a href="#" id="col6row1" class="datagrid">@ViewBag.col6row1</a></td>
  </tr>
  <tr class="row2">
    <td>Feburary</td>
    <td class="col1"><a href="#" id="col1row2" class="datagrid">@ViewBag.col1row2</a></td>
    <td class="col2"><a href="#" id="col2row2" class="datagrid">@ViewBag.col2row2</a></td>
    <td class="col3"><a href="#" id="col3row2" class="datagrid">@ViewBag.col3row2</a></td>
    <td class="col4"><a href="#" id="col4row2" class="datagrid">@ViewBag.col4row2</a></td>
    <td class="col5"><a href="#" id="col5row2" class="datagrid">@ViewBag.col5row2</a></td>
    <td class="col6"><a href="#" id="col6row2" class="datagrid">@ViewBag.col6row2</a></td>
  </tr>
  <tr class="row3">
    <td>March</td>
    <td class="col1"><a href="#" id="col1row3" class="datagrid">@ViewBag.col1row3</a></td>
    <td class="col2"><a href="#" id="col2row3" class="datagrid">@ViewBag.col2row3</a></td>
    <td class="col3"><a href="#" id="col3row3" class="datagrid">@ViewBag.col3row3</a></td>
    <td class="col4"><a href="#" id="col4row3" class="datagrid">@ViewBag.col4row3</a></td>
    <td class="col5"><a href="#" id="col5row3" class="datagrid">@ViewBag.col5row3</a></td>
    <td class="col6"><a href="#" id="col6row3" class="datagrid">@ViewBag.col6row3</a></td>
  </tr>
  <tr class="row4">
    <td>April</td>
    <td class="col1"><a href="#" id="col1row4" class="datagrid">@ViewBag.col1row4</a></td>
    <td class="col2"><a href="#" id="col2row4" class="datagrid">@ViewBag.col2row4</a></td>
    <td class="col3"><a href="#" id="col3row4" class="datagrid">@ViewBag.col3row4</a></td>
    <td class="col4"><a href="#" id="col4row4" class="datagrid">@ViewBag.col4row4</a></td>
    <td class="col5"><a href="#" id="col5row4" class="datagrid">@ViewBag.col5row4</a></td>
    <td class="col6"><a href="#" id="col6row4" class="datagrid">@ViewBag.col6row4</a></td>
  </tr>
  <tr class="row5">
    <td>May</td>
    <td class="col1"><a href="#" id="col1row5" class="datagrid">@ViewBag.col1row5</a></td>
    <td class="col2"><a href="#" id="col2row5" class="datagrid">@ViewBag.col2row5</a></td>
    <td class="col3"><a href="#" id="col3row5" class="datagrid">@ViewBag.col3row5</a></td>
    <td class="col4"><a href="#" id="col4row5" class="datagrid">@ViewBag.col4row5</a></td>
    <td class="col5"><a href="#" id="col5row5" class="datagrid">@ViewBag.col5row5</a></td>
    <td class="col6"><a href="#" id="col6row5" class="datagrid">@ViewBag.col6row5</a></td>
  </tr>
  <tr class="row6">
    <td>June</td>
    <td class="col1"><a href="#" id="col1row6" class="datagrid">@ViewBag.col1row6</a></td>
    <td class="col2"><a href="#" id="col2row6" class="datagrid">@ViewBag.col2row6</a></td>
    <td class="col3"><a href="#" id="col3row6" class="datagrid">@ViewBag.col3row6</a></td>
    <td class="col4"><a href="#" id="col4row6" class="datagrid">@ViewBag.col4row6</a></td>
    <td class="col5"><a href="#" id="col5row6" class="datagrid">@ViewBag.col5row6</a></td>
    <td class="col6"><a href="#" id="col6row6" class="datagrid">@ViewBag.col6row6</a></td>
  </tr>
  <tr class="row7">
    <td>July</td>
    <td class="col1"><a href="#" id="col1row7" class="datagrid">@ViewBag.col1row7</a></td>
    <td class="col2"><a href="#" id="col2row7" class="datagrid">@ViewBag.col2row7</a></td>
    <td class="col3"><a href="#" id="col3row7" class="datagrid">@ViewBag.col3row7</a></td>
    <td class="col4"><a href="#" id="col4row7" class="datagrid">@ViewBag.col4row7</a></td>
    <td class="col5"><a href="#" id="col5row7" class="datagrid">@ViewBag.col5row7</a></td>
    <td class="col6"><a href="#" id="col6row7" class="datagrid">@ViewBag.col6row7</a></td>
  </tr>
  <tr class="row8">
    <td>August</td>
    <td class="col1"><a href="#" id="col1row8" class="datagrid">@ViewBag.col1row8</a></td>
    <td class="col2"><a href="#" id="col2row8" class="datagrid">@ViewBag.col2row8</a></td>
    <td class="col3"><a href="#" id="col3row8" class="datagrid">@ViewBag.col3row8</a></td>
    <td class="col4"><a href="#" id="col4row8" class="datagrid">@ViewBag.col4row8</a></td>
    <td class="col5"><a href="#" id="col5row8" class="datagrid">@ViewBag.col5row8</a></td>
    <td class="col6"><a href="#" id="col6row8" class="datagrid">@ViewBag.col6row8</a></td>
  </tr>
  <tr class="row9">
    <td>September</td>
    <td class="col1"><a href="#" id="col1row9" class="datagrid">@ViewBag.col1row9</a></td>
    <td class="col2"><a href="#" id="col2row9" class="datagrid">@ViewBag.col2row9</a></td>
    <td class="col3"><a href="#" id="col3row9" class="datagrid">@ViewBag.col3row9</a></td>
    <td class="col4"><a href="#" id="col4row9" class="datagrid">@ViewBag.col4row9</a></td>
    <td class="col5"><a href="#" id="col5row9" class="datagrid">@ViewBag.col5row9</a></td>
    <td class="col6"><a href="#" id="col6row9" class="datagrid">@ViewBag.col6row9</a></td>
  </tr>
  <tr class="row10">
    <td>October</td>
    <td class="col1"><a href="#" id="col1row10" class="datagrid">@ViewBag.col1row10</a></td>
    <td class="col2"><a href="#" id="col2row10" class="datagrid">@ViewBag.col2row10</a></td>
    <td class="col3"><a href="#" id="col3row10" class="datagrid">@ViewBag.col3row10</a></td>
    <td class="col4"><a href="#" id="col4row10" class="datagrid">@ViewBag.col4row10</a></td>
    <td class="col5"><a href="#" id="col5row10" class="datagrid">@ViewBag.col5row10</a></td>
    <td class="col6"><a href="#" id="col6row10" class="datagrid">@ViewBag.col6row10</a></td>
  </tr>
  <tr class="row11">
    <td>November</td>
    <td class="col1"><a href="#" id="col1row11" class="datagrid">@ViewBag.col1row11</a></td>
    <td class="col2"><a href="#" id="col2row11" class="datagrid">@ViewBag.col2row11</a></td>
    <td class="col3"><a href="#" id="col3row11" class="datagrid">@ViewBag.col3row11</a></td>
    <td class="col4"><a href="#" id="col4row11" class="datagrid">@ViewBag.col4row11</a></td>
    <td class="col5"><a href="#" id="col5row11" class="datagrid">@ViewBag.col5row11</a></td>
    <td class="col6"><a href="#" id="col6row11" class="datagrid">@ViewBag.col6row11</a></td>
  </tr>
  <tr class="row12">
    <td>December</td>
    <td class="col1"><a href="#" id="col1row12" class="datagrid">@ViewBag.col1row12</a></td>
    <td class="col2"><a href="#" id="col2row12" class="datagrid">@ViewBag.col2row12</a></td>
    <td class="col3"><a href="#" id="col3row12" class="datagrid">@ViewBag.col3row12</a></td>
    <td class="col4"><a href="#" id="col4row12" class="datagrid">@ViewBag.col4row12</a></td>
    <td class="col5"><a href="#" id="col5row12" class="datagrid">@ViewBag.col5row12</a></td>
    <td class="col6"><a href="#" id="col6row12" class="datagrid">@ViewBag.col6row12</a></td>
  </tr>








</table>









